{
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^\\w(.*)$",
    "^@(.*)$",
    "^\\$(.*)$",
    "^\\.(.*)$"
  ],
  "semi": false,
  "singleQuote": true,
  "svelteIndentScriptAndStyle": false,
  "trailingComma": "es5"
}
